/* General styling */

:root{
    --background: #f5f5f5;
    --background-card: #ececec;
    --background-secondary: #242424;
    --text-color: #242424;
    --text-color-secondary: #f5f5f5;
    --accent-color: #c900ff;
    --accent-color-secondary: #5100ff;
}

html, body{
    margin: 0;
    padding: 0;
    background: var(--background);
    color: var(--text-color);
    height: 100%;
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5{
    padding: 1rem;
    margin: 1rem;
}

a{
    text-decoration: none;
}

.txt-accent{
    color: var(--accent-color);
}
.txt-black{
    color: var(--text-color);
}
.txt-white{
    color: var(--text-color-secondary);
}

.btn{
    padding: 1rem 2rem;
    margin: 1rem;
    background: var(--accent-color);
    color: var(--text-color-secondary) !important;
    border: none;
    border-radius: 1rem;
    cursor: pointer;
}
.btn-alternate{
    padding: 1rem 2rem;
    margin: 1rem;
    background: var(--background);
    color: var(--accent-color) !important;
    border: 1px solid var(--accent-color);
    border-radius: 1rem;
    cursor: pointer;
}

.card{
    margin: 1rem;
    padding: 1rem;
    background: var(--background-card);
    color: var(--text-color);
    border: none;
    border-radius: 1rem;
}

footer{
    color: var(--text-color);
    font-size: 0.5rem;
}

.txt-center{
    text-align: center;
}

.flex-col-container{
    display: flex;
    flex-direction: column;
    height: 100%;
}

.flex-row-container{
    display: flex;
    flex-direction: row;
    height: 100%;
}

/* Sections */

/* Splash page */

.splash-cards{
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
}
.splash-card{
    background: var(--background) !important;
    width: 33%;
}
.splash-cards object{
    filter: brightness(0) saturate(100%);
}
.splash-header{
    color: var(--text-color-secondary);
    background: var(--accent-color);
    background: linear-gradient(90deg, var(--accent-color) 0%, var(--accent-color-secondary) 100%);
}

.splash-header h1{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Form pages */
.form-container fieldset{
    border: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 1rem;
}
.form-container input{
    margin: 1rem;
    padding: 1rem;
    border: 3px solid var(--accent-color);
    width: 25%;
    border-radius: 1rem;
    background: white;
    color: var(--text-color);
}

/* Dashboard */
.sidebar{
    color: var(--text-color-secondary);
    background: var(--accent-color);
    background: linear-gradient(90deg, var(--accent-color) 0%, var(--accent-color-secondary) 100%);
}
.sidebar-body{
    text-align: left;
}
.sidebar-body a{
    color: var(--text-color-secondary);
}
.sidebar-body h2{
    display: flex;
    align-items: center;
}
.sidebar h1{
    display: flex;
    justify-content: center;
    align-items: center;
}

.main{
    background: var(--background);
    display: flex;
    flex-direction: column;
    height: 100%;
}
.main-row{
    display: flex;
    flex-direction: row;
}
.linechart{
    flex: 4;
}
.txtstats{
    flex: 2;
    text-align: center;
}
.txtstats-wrapper{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.stat{
    margin: 0.5rem 3rem;
}
.stats-highlight{
    color: var(--accent-color);
}